{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<section class="h-100 h-custom" style="background-color: ;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{app.user.image}}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{app.user.nom}}</h5>
            <p class="text-muted mb-1">{{app.user.prenom}}</p>
            <p class="text-muted mb-1">Age</p>
            
            <div class="d-flex justify-content-center mb-2">
              <a href="/"><button type="button" class="btn btn-primary">Retour</button></a>
                <input type="file" id="photo" value="Modifier image de profil">
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
            {# {% for commande in user.app.commandes %}  #}
                
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-globe fa-lg text-warning"></i>
                <p class="mb-0"></p>
              </li>
             {# {% endfor %}  #}
              <a href="" class="btn btn-success">Mes commandes </a>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{app.user.nom}} {{app.user.prenom}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{app.user.email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">telephone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{app.user.telephone}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address 1</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{app.user.adresse1}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address 2</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{app.user.adresse2}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address 3</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{app.user.adresse3}}</p>
              </div>
            </div>
             <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mot de passe</p>
              </div>
              <div class="col-sm-9">
                <a class="text-muted mb-0" type="password" >{{app.user.password}}</a>
              </div>
            </div>
          </div>
             <a href="#" class="btn btn-success">Modifiez</a>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
</div>
</section>
{% endblock %}
